body {
  overflow: hidden;
}
.App {
  text-align: center;
}

.modal-header {
  background-color: #17252A;
  color: #FEFFFF;
}

.modal-body {
  background-color: #FEFFFF;
}

.form-control {
  border: 2px solid #3AAFA9;
}

.form-control:focus {
  background-color: #ecf5f4;
  color: #17252A;
}

.table {
  background-color: #17252A;
  color: #FEFFFF;
}

.table-hover tbody tr:hover {
  background-color: #3AAFA9;
}

thead {
  background-color: #FEFFFF;
  color: #17252A;
}

.navbar {
  background-color: #17252A;
  border-bottom: 1px double #3AAFA9;
  z-index: 3;
}

.navbar-brand {
  color: #FEFFFF;
}

.navbar-brand:hover {
  color: #3AAFA9;
}

.btn {
  border: 1px solid #3AAFA9;
  background-color: #17252A;
  color: #FEFFFF;
}

.btn:hover {
  color: #3AAFA9;
}

.border {
  border: 1px solid #3AAFA9 !important;
}


.marker-img {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.remove-focus-outline:focus {
  outline: none;
}


.mapboxgl-popup-content {
  border-radius: 5px;
}

.mapboxgl-popup-close-button {
  z-index: 1;
}

.mapboxgl-ctrl-geocoder {
  width: 100%;
}

.slide-pane__content {
  padding: 0;
  margin-top: 50px;
}

.sliding-pane-overlay.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0,0, 0);
  width: 0;
}

.sliding-pane-content.ReactModal__Content--after-open {
  Width: 75vh;
  padding: 0;
}