.location {
  margin-top: 54px;
  border-radius: 0;
  background-color: #17252A;
  color: #FEFFFF;
  top: -105px;
}

.location-img-container {
 height: 160px;
 overflow: hidden;
  border-bottom: 1px double #3AAFA9;
}

.location-details {
max-width: 361px;
padding-top: 12px;
padding-left: 15px;
padding-right: 0px;
padding-bottom: 0px;
}

.card-text {
  margin: 0;
}

.location-name {
  font-family: sans-serif;
  margin-bottom: 0;
}

.location-address {
  margin-bottom: 0;
  color: #BBBBBB!important;
}

.stations-count {
  background: #17252A;
  color: #FEFFFF;
  border: 1px solid #3AAFA9;
  margin-top: 4px;
  font-weight: 100;
}

.charging-btn-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 25px;
}

/* .charging-btn {
  background-color: #3AAFA9!important;
  color: #FEFFFF!important;
  box-shadow: -1px 0px #FEFFFF, 0px 1.5px #FEFFFF!important;
  border: 1px solid #FEFFFF!important;
}*/

.charging-btn-3d {
    transition:all .08s linear;
    position:relative;
}

.charging-btn-3d:focus {
    outline:thin none;
    color: #FEFFFF!important;
    border: 1px solid #FEFFFF!important;
    box-shadow: 0 0 0 -0.8rem #3AAFA9!important;
}
.charging-btn-3d:active {
    top:9px;
    color: #FEFFFF!important;
}

.charging-btn:hover {
  color: #FEFFFF!important;
} 

.charging-btn {
    box-shadow: 0 0 1px 1px #FEFFFF inset, 0 -1px 1px 2px rgba(28, 48, 48, 0.8) inset, 0 0px 1px 1px #2B7A78;
    background-color:#3AAFA9!important;
}
